<h1>Final Verdict...<%= @sfw ? "Grandma approves!" : "Grandma disapproves." %></h1>


<% if @lyrics %>
  <h2><%= "#{@artist} - #{@song}" %></h2>
  <br>
  <%= @lyrics.html_safe %>
<% else %>
  <h2><%= @error_notice %></h2>
<% end %>
