<h1 class="page-header">Will grandma approve of my music taste?</h1>

<form action="<%= analysis_path %>" method="get">
  <div class="form-group">
    <label for="song">Song</label>
    <%= text_field_tag :song, nil, class: "form-control" %>
  </div>
  <div class="form-group">
    <label for="artist">Artist</label>
    <%= text_field_tag :artist, nil, class: "form-control" %>
  </div>
  <%= submit_tag "Analyze", class: "btn btn-default", name: nil %>
</form>
