<h1>Will grandma approve of my music taste?</h1>


<%= form_tag pages_analysis_path do %>
  <label for="song">Song:</label>
  <%= text_field_tag :song %>
  <label for="song">Artist:</label>
  <%= text_field_tag :artist %>
  <%= submit_tag "Analyze" %>
<% end %>
