<!DOCTYPE html>
<html>
  <head>
    <title>Lyrics Analyzer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
    <br /><br /><br /><br />
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Created with <i class="fa fa-heart"></i> by <a href="http://www.github.com/timothychen01">Timothy Chen</a>. Copyright 2016.</p>
      </div>
    </footer>
  </body>
</html>
